<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>PatientPlus</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam soluta quasi optio, vero voluptatibus fuga corrupti reprehenderit sequi mollitia. Consectetur, officiis excepturi veniam ut odio vero nam quos tempora suscipit.
    Reprehenderit, rem quidem. Culpa obcaecati ratione saepe molestias error, minus iure sit dolor praesentium adipisci nemo officiis laboriosam expedita voluptatibus! Porro unde nesciunt ex minus dolore tempore laborum earum dolores!</p>
    <p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque dolorum neque dolor similique corporis laborum sapiente dolore, eaque voluptatem qui laboriosam aliquam molestiae eos sunt nam assumenda! Ipsum, tenetur quos!
    Enim error nemo est aut neque nobis ratione autem quasi hic magni tempora fugit necessitatibus dolorem eum expedita adipisci laudantium, voluptatibus unde ex, molestiae quam. Nemo nostrum quaerat rerum unde?
    Facilis optio in cumque cupiditate corporis aspernatur est quisquam voluptatum numquam atque delectus dolore natus quas eligendi ducimus ea, quasi veritatis iure, illo fugit dignissimos tempore incidunt? Cumque, at saepe?</span></p>

    
</body>
</html>